### Importing required packages

In [57]:
from sklearn import __all__
print(__all__)
print()
print("-----List of All Packages in scikit-learn------")
for i in __all__:
    print(i)

['calibration', 'cluster', 'covariance', 'cross_decomposition', 'datasets', 'decomposition', 'dummy', 'ensemble', 'exceptions', 'experimental', 'externals', 'feature_extraction', 'feature_selection', 'frozen', 'gaussian_process', 'inspection', 'isotonic', 'kernel_approximation', 'kernel_ridge', 'linear_model', 'manifold', 'metrics', 'mixture', 'model_selection', 'multiclass', 'multioutput', 'naive_bayes', 'neighbors', 'neural_network', 'pipeline', 'preprocessing', 'random_projection', 'semi_supervised', 'svm', 'tree', 'discriminant_analysis', 'impute', 'compose', 'clone', 'get_config', 'set_config', 'config_context', 'show_versions']

-----List of All Packages in scikit-learn------
calibration
cluster
covariance
cross_decomposition
datasets
decomposition
dummy
ensemble
exceptions
experimental
externals
feature_extraction
feature_selection
frozen
gaussian_process
inspection
isotonic
kernel_approximation
kernel_ridge
linear_model
manifold
metrics
mixture
model_selection
multiclass
multioutput
naive_bayes
neighbors
neural_network
pipeline
preprocessing
random_projection
semi_supervised
svm
tree
discriminant_analysis
impute
compose
clone
get_config
set_config
config_context
show_versions

In [58]:
from sklearn.model_selection import __all__
print(__all__)

print("-----List of All model_selection in scikit-learn------")
for i in __all__:
    print(i)

from sklearn.preprocessing import __all__
print(__all__)
print("-----List of All preprocessing in scikit-learn------")
for i in __all__:
    print(i)

['BaseCrossValidator', 'BaseShuffleSplit', 'FixedThresholdClassifier', 'GridSearchCV', 'GroupKFold', 'GroupShuffleSplit', 'KFold', 'LearningCurveDisplay', 'LeaveOneGroupOut', 'LeaveOneOut', 'LeavePGroupsOut', 'LeavePOut', 'ParameterGrid', 'ParameterSampler', 'PredefinedSplit', 'RandomizedSearchCV', 'RepeatedKFold', 'RepeatedStratifiedKFold', 'ShuffleSplit', 'StratifiedGroupKFold', 'StratifiedKFold', 'StratifiedShuffleSplit', 'TimeSeriesSplit', 'TunedThresholdClassifierCV', 'ValidationCurveDisplay', 'check_cv', 'cross_val_predict', 'cross_val_score', 'cross_validate', 'learning_curve', 'permutation_test_score', 'train_test_split', 'validation_curve']
-----List of All model_selection in scikit-learn------
BaseCrossValidator
BaseShuffleSplit
FixedThresholdClassifier
GridSearchCV
GroupKFold
GroupShuffleSplit
KFold
LearningCurveDisplay
LeaveOneGroupOut
LeaveOneOut
LeavePGroupsOut
LeavePOut
ParameterGrid
ParameterSampler
PredefinedSplit
RandomizedSearchCV
RepeatedKFold
RepeatedStratifiedKFold
ShuffleSplit
StratifiedGroupKFold
StratifiedKFold
StratifiedShuffleSplit
TimeSeriesSplit
TunedThresholdClassifierCV
ValidationCurveDisplay
check_cv
cross_val_predict
cross_val_score
cross_validate
learning_curve
permutation_test_score
train_test_split
validation_curve
['Binarizer', 'FunctionTransformer', 'KBinsDiscretizer', 'KernelCenterer', 'LabelBinarizer', 'LabelEncoder', 'MaxAbsScaler', 'MinMaxScaler', 'MultiLabelBinarizer', 'Normalizer', 'OneHotEncoder', 'OrdinalEncoder', 'PolynomialFeatures', 'PowerTransformer', 'QuantileTransformer', 'RobustScaler', 'SplineTransformer', 'StandardScaler', 'TargetEncoder', 'add_dummy_feature', 'binarize', 'label_binarize', 'maxabs_scale', 'minmax_scale', 'normalize', 'power_transform', 'quantile_transform', 'robust_scale', 'scale']
-----List of All preprocessing in scikit-learn------
Binarizer
FunctionTransformer
KBinsDiscretizer
KernelCenterer
LabelBinarizer
LabelEncoder
MaxAbsScaler
MinMaxScaler
MultiLabelBinarizer
Normalizer
OneHotEncoder
OrdinalEncoder
PolynomialFeatures
PowerTransformer
QuantileTransformer
RobustScaler
SplineTransformer
StandardScaler
TargetEncoder
add_dummy_feature
binarize
label_binarize
maxabs_scale
minmax_scale
normalize
power_transform
quantile_transform
robust_scale
scale

In [59]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

### Loading the Data

In [60]:
data = pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

### Pre-Processing

In [61]:
# Preprocess data: Drop irrelevant columns
data = data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [62]:
data.columns

Index(['CreditScore', 'Geography', 'Gender', 'Age', 'Tenure', 'Balance',
       'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary',
       'Exited'],
      dtype='object')

### Label-Encoder

In [63]:
## Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data

## male-> 1 female->0

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [64]:
# To find distinct  or unique countries in the data
unique_geography = data['Geography'].unique()
unique_geography

array(['France', 'Spain', 'Germany'], dtype=object)

### One hot encode on Geography

In [65]:

from sklearn.preprocessing import OneHotEncoder
ohe_geography = OneHotEncoder()
geo_encoder = ohe_geography.fit_transform(data[['Geography']])

In [66]:
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [67]:
ohe_geography.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [68]:
# geo_encoder_df1 = pd.DataFrame(geo_encoder,columns=ohe_geography.get_feature_names_out(['Geography']))
# geo_encoder_df1

In [69]:
geo_encoder_df = pd.DataFrame(geo_encoder.toarray(),columns=ohe_geography.get_feature_names_out(['Geography']))
geo_encoder_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [70]:
## Combine thee one hot encoder columns with the Original data
data = pd.concat([data.drop('Geography',axis=1),geo_encoder_df],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [71]:
# Save the encoders and StandardScaler
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open("onehot_encoder_geo.pkl",'wb') as file:
    pickle.dump(ohe_geography,file)

### Splitting the data into train and test

In [72]:
## Divide the dataset into independent and dependent features
# Exited is dependent Feature & all other are independent features
X = data.drop('Exited',axis=1)
y = data['Exited']

# Split the data in training and testing sets
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

# Scale these features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [73]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [74]:
len(X_train)

8000

In [75]:
# Saving StandardScaler as pickle
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [76]:
print(X_train.shape[1])

12

In [77]:
print(X_train[1])

[-0.20389777  0.91324755  0.29493847 -0.3483691   0.69683765  0.80843615
  0.64920267  0.97481699  1.6612541  -0.99850112  1.72572313 -0.57638802]

### ANN Implementation

In [78]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [79]:
# Building ANN model

model = Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), # Hidden layer1 connected with input layer
    Dense(32,activation='relu'),   # Hidden layer2 connected with hidden layer1
    Dense(1,activation='sigmoid')   # Output layer
])

/Users/gopibipaneni/Documents/All/React/Langchain/lanvenv/lib/python3.12/site-packages/keras/src/layers/core/dense.py:92: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [80]:
model.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [81]:
import tensorflow
opt = tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss = tensorflow.keras.losses.BinaryCrossentropy
loss

keras.src.losses.losses.BinaryCrossentropy

In [82]:
# Compile the model

model.compile(optimizer=opt, loss='BinaryCrossentropy',metrics=['accuracy'])

In [83]:
## Setup the tensor board

log_dir = "logs/fit" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir = log_dir,histogram_freq=1)

In [84]:
# Set Up Early Stopping

early_stop_callback = EarlyStopping(monitor = 'val_loss',patience=10,restore_best_weights=True)

In [85]:
# Training the model through Neural Nets

history = model.fit(
    X_train,y_train, validation_data = (X_test,y_test),epochs=100,
    callbacks = [tensorflow_callback,early_stop_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8316 - loss: 0.3971 - val_accuracy: 0.8535 - val_loss: 0.3497
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 864us/step - accuracy: 0.8576 - loss: 0.3529 - val_accuracy: 0.8530 - val_loss: 0.3480
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 856us/step - accuracy: 0.8541 - loss: 0.3467 - val_accuracy: 0.8640 - val_loss: 0.3477
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 899us/step - accuracy: 0.8606 - loss: 0.3438 - val_accuracy: 0.8620 - val_loss: 0.3377
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 859us/step - accuracy: 0.8601 - loss: 0.3413 - val_accuracy: 0.8580 - val_loss: 0.3489
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 833us/step - accuracy: 0.8634 - loss: 0.3358 - val_accuracy: 0.8645 - val_loss: 0.3411
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 845us/step - accuracy: 0.8615 - loss: 0.3368 - val_accuracy: 0.8605 - val_loss: 0.3447
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 842us/step - accuracy: 0.8635 - loss: 0.3325 - val_accuracy: 0.8660 - val_loss: 0.3347
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 838us/step - accuracy: 0.8630 - loss: 0.3340 - val_accuracy: 0.8615 - val_loss: 0.3381
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 838us/step - accuracy: 0.8640 - loss: 0.3302 - val_accuracy: 0.8550 - val_loss: 0.3774
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 837us/step - accuracy: 0.8668 - loss: 0.3308 - val_accuracy: 0.8600 - val_loss: 0.3416
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 838us/step - accuracy: 0.8640 - loss: 0.3264 - val_accuracy: 0.8580 - val_loss: 0.3458
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 835us/step - accuracy: 0.8690 - loss: 0.3221 - val_accuracy: 0.8575 - val_loss: 0.3455
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 842us/step - accuracy: 0.8673 - loss: 0.3224 - val_accuracy: 0.8575 - val_loss: 0.3494
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 834us/step - accuracy: 0.8685 - loss: 0.3198 - val_accuracy: 0.8555 - val_loss: 0.3564
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8724 - loss: 0.3181 - val_accuracy: 0.8620 - val_loss: 0.3511
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 838us/step - accuracy: 0.8676 - loss: 0.3169 - val_accuracy: 0.8595 - val_loss: 0.3510
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 839us/step - accuracy: 0.8716 - loss: 0.3122 - val_accuracy: 0.8555 - val_loss: 0.3624

In [86]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [87]:
# Load Tensorboard Extension

%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [88]:

%tensorboard --logdir logs/fit20250811-193847

Reusing TensorBoard on port 6007 (pid 35481), started 15:03:17 ago. (Use '!kill 35481' to kill it.)

# Prediction with new input Data

In [89]:
import tensorflow
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [90]:
input_data = {
    'CreditScore': 600, 
    'Geography': 'France',
    'Gender':'Male', 
    'Age':40 , 
    'Tenure':3, 
    'Balance': 60000, 
    'NumOfProducts':2,
    'HasCrCard':1, 
    'IsActiveMember':1, 
    'EstimatedSalary':50000
}

In [ ]:
label_encoder_gender
scaler

In [92]:
input_df = pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [97]:
# one-hot encode geography
geo_encoded = ohe_geography.transform(input_df[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded,columns=ohe_geography.get_feature_names_out(['Geography']))

geo_encoded_df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [98]:
input_df['Gender'] = label_encoder_gender.transform(input_df['Gender'])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [99]:
input_df = pd.concat([input_df.drop('Geography',axis=1),geo_encoded_df],axis=1)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [100]:
# Scaling the input data

input_scaled = scaler.transform(input_df)
input_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [101]:
# Prediction churn
prediction = model.predict(input_scaled)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 46ms/step

array([[0.04381298]], dtype=float32)

In [102]:
if prediction > 0.5:
    print("The customer is likely to churn")
else:
    print("The customer is not likely to churn")

The customer is not likely to churn