# Prediction

In [1]:
# Importing the required packages
import tensorflow
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [2]:
## load ANN trained model,pkl files

model = load_model('model.h5')

# load encoders and scaler 

with open("onehot_encoder_geo.pkl",'rb') as file:
    label_encoder_geo = pickle.load(file)

with open("label_encoder_gender.pkl",'rb') as file:
    label_encoder_gender = pickle.load(file)

with open("scaler.pkl",'rb') as file:
    scaler = pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [3]:
# New input Data
input_data = {
    'CreditScore': 500, 
    'Geography': 'France',
    'Gender':'Male', 
    'Age':36 , 
    'Tenure':3, 
    'Balance': 100000, 
    'NumOfProducts':2,
    'HasCrCard':1, 
    'IsActiveMember':1, 
    'EstimatedSalary':25000
}

In [4]:
# Convert the dictionary to dataframe
input_df = pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,500,France,Male,36,3,100000,2,1,1,25000

In [5]:
# one-hot encode geography
# Taking the values of geography to array
geo_encoded = label_encoder_geo.transform(input_df[['Geography']]).toarray()
# One hot encoding on geography column
geo_encoded_df = pd.DataFrame(geo_encoded,columns=label_encoder_geo.get_feature_names_out(['Geography']))
# output the OHE transformation
geo_encoded_df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [ ]:
# Converting the Gender Column to numerical with saved LabelEncoder
input_df['Gender'] = label_encoder_gender.transform(input_df['Gender'])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,500,France,1,36,3,100000,2,1,1,25000

In [ ]:
# Dropping the Geography column from input_df dataframe
input_df = pd.concat([input_df.drop('Geography',axis=1),geo_encoded_df],axis=1)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,500,1,36,3,100000,2,1,1,25000,1.0,0.0,0.0

In [8]:
# Scaling the input data

input_scaled = scaler.transform(input_df)
input_scaled

array([[-1.57375827,  0.91324755, -0.27549615, -0.69539349,  0.38262839,
         0.80843615,  0.64920267,  0.97481699, -1.31149897,  1.00150113,
        -0.57946723, -0.57638802]])

In [9]:
# Prediction churn
prediction = model.predict(input_scaled)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 43ms/step

array([[0.04794529]], dtype=float32)

In [10]:
if prediction > 0.5:
    print("The customer is likely to churn")
else:
    print("The customer is not likely to churn")

The customer is not likely to churn

In [ ]:
label_encoder_geo
label_encoder_gender
scaler
model